[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/somsirsa/hugo-academic.git
[submodule "themes/themes/hugo-academic"]
	path = themes/themes/hugo-academic
	url = https://github.com/somsirsa/hugo-academic.git
